#container {
	  width: 90%;
	  margin: auto;
	  padding: 20px;
	  height : 750px;
	  border : 1px solid green;
}
#main {
	width : 22%;
	margin : 10px;
	float : left;
	
	height: 600px;
	
}
#canvas {
	width : 75%;
	float : right;
	
	height: 600px;
	
	
}
#header {
	width : 100%;
	height : 50px;
	}
